#Ignore Files named 'Sample.txt'
Sample.txt

# Ignore generated docs
*.docxx
*.wikidoc


#Folders

.htaccess
#css.php
#rpc/
testboss.insourceintelligent.com/admin/
#sites/site*/private/
#sites/site*/public/admin/
#sites/site*/public/setup/
#sites/site*/public/theme/
#textpattern/
#HISTORY.txt
